forecasting/.ipynb_checkpoints
forecasting/__pycache__
forecasting/COVID-19
forecasting/no-tracking
forecasting/pd_profilings
forecasting/*.html
forecasting/*.csv


image-processing/.idea
image-processing/__pycache__
image-processing/covid-chestxray-dataset
image-processing/heatmaps/__pycache__
image-processing/heatmaps/output_arrays
image-processing/logfiles
image-processing/logs
image-processing/UoGeneva
image-processing/image_tsne_to_TB.ipynb


*.html